blinker==1.9.0
click==8.3.1
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
psycopg2-binary==2.9.11
Werkzeug==3.1.4
python-dotenv
supabase==2.27.0
postgrest==2.27.0
httpx==0.28.1
storage3==2.27.0
realtime==2.27.0
supabase-auth==2.27.0
supabase-functions==2.27.0
pydantic==2.12.5
pydantic-core==2.41.5
gotrue==2.27.0
